# Python
*.py[cod]
__pycache__
/dist

# Development tools
/.venv
/.ruff_cache
/.pytest_cache
/.coverage
/.coverage.*
/htmlcov

# Data
/database.db

# Editors
*.swp
/.idea
/.vscode/*
!/.vscode/launch.json
